@page "/forms/delete"
@using Microsoft.EntityFrameworkCore
@using AdoptionWebsiteTest.Models
@inject IDbContextFactory<AdoptionWebsiteTest.Data.AdoptionWebsiteTestContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Form</h2>
    <hr />
    @if (form is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FullName</dt>
            <dd class="col-sm-10">@form.FullName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@form.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PhoneNumber</dt>
            <dd class="col-sm-10">@form.PhoneNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@form.Address</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@form.City</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">State</dt>
            <dd class="col-sm-10">@form.State</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HouseSize</dt>
            <dd class="col-sm-10">@form.HouseSize</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">NumberOfPets</dt>
            <dd class="col-sm-10">@form.NumberOfPets</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PreviousDogOwner</dt>
            <dd class="col-sm-10">@form.PreviousDogOwner</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">QuestionsConcerns</dt>
            <dd class="col-sm-10">@form.QuestionsConcerns</dd>
        </dl>
        <EditForm method="post" Model="form" OnValidSubmit="DeleteForm" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(form is null)">Delete</button> |
            <a href="/forms">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Form? form;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        form = await context.Form.FirstOrDefaultAsync(m => m.Id == Id);

        if (form is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteForm()
    {
        using var context = DbFactory.CreateDbContext();
        context.Form.Remove(form!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/forms");
    }
}
